#!/usr/bin/env python
PACKAGE = "stairdetection"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("leafsize",   double_t,   0, "Sampling leafsize",  0.04, 0.01, 0.1)
gen.add("window_size",   double_t,   0, "Window of plane extraction",  2, 0.1, 3)
gen.add("z_min_filter",   double_t,   0, "min value at z axis for plane extraction",  -2, -5, 0)
gen.add("z_max_filter",   double_t,   0, "max value at z axis for plane extraction",  2, 0, 5)
gen.add("z_division_size",   double_t,   0, "height of z division cell size",  0.1, 0.01, 1)
gen.add("angle_divisions",   int_t,   0, "number of how many subspaces azimuth angles are discretized",  120, 1, 360)

gen.add("bearing_var",   double_t,   0, "bearing varicance",  0.000001, 0.0, 0.0001)
gen.add("range_var",   double_t,   0, "range variance",  0.0004, 0.0, 0.01)
gen.add("least_sq_angle_thresh",   double_t,   0, "least square threshold for angle",  0.0001, 0.0, 0.01)
gen.add("least_sq_radius_thresh",   double_t,   0, "least square threshold for radius",  0.0001, 0.0, 0.01)
gen.add("max_line_gap",   double_t,   0, "maximal allowed value for gaps in line detection",  0.3, 0.0, 1)
gen.add("min_line_length",   double_t,   0, "minimal allowed value for line length",  0.6, 0.5, 3)
gen.add("min_range",   double_t,   0, "minimal allow value for distance of point from origin",  0.4, 0.0, 10)
gen.add("max_range",   double_t,   0, "maximal allowed value for distance of point from origin",  9999, 0.0, 1000000)
gen.add("min_split_dist",   double_t,   0, "minimal allowed value for splitting line",  0.05, 0.0, 0.3)
gen.add("outlier_dist",   double_t,   0, "maximal allowed value for points to be considered inliers",  0.05, 0.0, 0.3)
gen.add("min_line_points",   int_t,   0, "minimal allowed value for detecting a line",  7, 1, 20)

gen.add("min_height",   double_t,   0, "minimal allowed value for step height",  0.11, 0.0, 0.3)
gen.add("max_height",   double_t,   0, "maximal allowed value for step height",  0.3, 0.0, 0.5)
gen.add("min_depth",   double_t,   0, "minimal allowed value for step depth",  0.15, 0.0, 0.6)
gen.add("max_depth",   double_t,   0, "maximal allowed value for step depth",  0.45, 0.0, 0.6)
gen.add("min_slope",   double_t,   0, "minimal allowed value for step slope",  25, 0.0, 90)
gen.add("max_slope",   double_t,   0, "maximal allowed value for step slope",  60, 0.0, 90)
gen.add("max_orientation_diff",   double_t,   0, "maximal allowed value for orientation diff between steps",  10, 0.0, 20)
gen.add("min_offset_angle",   double_t,   0, "minimal allowed value for step offset angle",  60, 0.0, 180)
gen.add("max_offset_angle",   double_t,   0, "maximal allowed value for step offset angle",  120, 0.0, 180)
gen.add("nr_steps",   int_t,   0, "number of steps to detect staircase",  3, 2, 10)

exit(gen.generate(PACKAGE, "stairdetection", "stairdetection"))